<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        {{titulo}}
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        {{texto}}
      </div>
    </div>
  </div>
</div>


<input type="text" [(ngModel)]="name">
<p>valor digitado: {{name}}</p>
<botao [titulo]="tituloBtn" [tipo]="tipoBtn" [background]="backgroundBtn" (funcaoClick)="funcaoBtn($event)" />
<br><br>
<p>O resultado da soma é {{soma}}</p>
<p>O resultado da subtração é {{subtracao}}</p>
<p>O resultado da divisão é {{divisao}}</p>
<p>O resultado da multiplicação é {{multiplicacao}}</p>